<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	
	<springProfile name="default">
		<property name="LOG_PATH" value="applogs"/>
	
		<include
			resource="org/springframework/boot/logging/logback/console-appender.xml" />

		<appender name="FILE-ROLLING"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/smartdubai-online-bootstore.log</file>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/archived/app.%d{yyyy-MM-dd}.%i.log
				</fileNamePattern>
				<!-- each archived file, size max 10MB -->
				<maxFileSize>10MB</maxFileSize>
				<!-- total size of all archive files, if total size > 2GB, it will delete 
					old archived file -->
				<totalSizeCap>2GB</totalSizeCap>
				<!-- 30 days to keep -->
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework" level="ERROR" />
		<logger name="com.veera" level="DEBUG" />
		<root level="ERROR">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE-ROLLING" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<appender name="FILE-ROLLING"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_PATH}/smartdubai-online-bootstore.log</file>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${LOG_PATH}/archived/app.%d{yyyy-MM-dd}.%i.log
				</fileNamePattern>
				<!-- each archived file, size max 10MB -->
				<maxFileSize>5MB</maxFileSize>
				<!-- total size of all archive files, if total size > 2GB, it will delete 
					old archived file -->
				<totalSizeCap>2GB</totalSizeCap>
				<!-- 30 days to keep -->
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</encoder>
		</appender>
		<logger name="org.springframework" level="ERROR" />
		<logger name="com.veera" level="DEBUG" />
		<root level="ERROR">
			<appender-ref ref="FILE-ROLLING" />
		</root>
	</springProfile>

</configuration>